@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #373737;
  color: #f0f0f0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 140px;
}

.hero {
  display: flex;
  padding: 0 0 0 40px;
  margin: 0 auto;
}

.hero__copy {
  padding: 40px 40px 0 0;
}

.hero__copy--subheading {
  margin: 20px 0;
}

.hero__image {
  border-left: 5px solid #f77212;
  border-right: 5px solid #f77212;
}

.hero__button {
  margin-top: 80px;
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  background-color: #51978b;
  color: #f5f5f5;
  font-size: 18px;
  transition: 0.1s;
}

.hero__button:hover {
  background-color: #3b7067;
  transform: scale(0.95);
  cursor: pointer;
}
